.pageHeader {
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    position: relative;
    background-image: none !important;

    header {
        position: relative;
        
        h1, h2, h3, h4, h5, h6 {
            color: white;
            opacity: 1;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    }
}

.header-content {
    .header-cta {
        display: block;
        color: white;
        padding: 0.5rem 1rem;
        border: 1px solid white;
        width: max-content;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            transform: translateY(-2px);
        }
    }
}

@media (max-width: 768px) {
    .pageHeader {
        &::before, &::after {
            display: none !important;
        }
        
        --cursor-x: none !important;
        --cursor-y: none !important;
    }
}
